main{
  display: flex;
  align-items: center;
  height:100vh;
  justify-content: center;
}

.form-container{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.toggle-icon{
  position: absolute;
  top:1px;
  right:0;
}

.form-container .mat-form-field{
  width:100%;
  padding:0 15px;
  box-sizing: border-box;
  max-width:80%;
  margin-bottom:15px;
}

.form-container,
.img-container{
  width:50%;
  height:100%;
}

.img-container{
  background: url(../../../../assets/img/space.jpg) repeat center;
  background-size: 100%;
}

mat-form-field label {
  font-size: 24px;
}

mat-form-field.mat-form-field-should-float label {
  font-size: 17px;
}

.button-block{
  margin-top:15px;
}

h1, .sub-header{
  text-align: center;
  width:100%;
  box-sizing: border-box;
  padding: 0 15px;
}

.err-block{
  height:40px;
  color:#f00;
  margin: 10px 0;
}
